@page "/game"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

@if (!HasJoined)
{
    <div class="form-group">
        <label>
            User:
            <input @bind="userName" />
        </label>
    </div>

    <button @onclick="JoinGame" disabled="@(!IsConnected)">Join Game</button>

}

@code {
    string userName;
    bool HasJoined = false;

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/gamehub"))
            .Build();

        hubConnection.On(nameof(IGameHub.JoinedGame), JoinedGame);

        await hubConnection.StartAsync();
    }

    void JoinedGame()
    {
        HasJoined = true;
        StateHasChanged();
    }

    Task JoinGame() => hubConnection.SendAsync("PlayerJoinGame", userName);
    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}