@page "/game"

<span>Cards: @_state.Hand.Count</span>
<span>@_state.SelectedCard</span>

@if (!_hasJoined)
{
    <div class="form-group">
        <label>
            User:
            <input @bind="_userName" />
        </label>
    </div>

    <button class="btn btn-primary" @onclick="JoinGame" disabled="@(!IsConnected)">Join Game</button>
}

@if (CanStartGame)
{
    <button class="btn btn-primary" @onclick="StartGame">Start Game</button>
}

@if (_state.HasGameStarted)
{
    <button class="btn btn-danger" @onclick="DrawCard">Draw</button>
    <button class="btn btn-primary" @onclick="PlayCard" disabled="@(_state.SelectedCard is null)">Play</button>

    @foreach (var card in _state.Hand)
    {
        <PlayingCard Card="card" OnCardSelected="HandleSelectedCard" />
    }
}