@page "/game"

<span>Cards:@state.Hand.Count()</span>
<span>@state.SelectedCard</span>

@if (!HasJoined)
{
    <div class="form-group">
        <label>
            User:
            <input @bind="userName" />
        </label>
    </div>

    <button @onclick="JoinGame" disabled="@(!IsConnected)">Join Game</button>
}

@if (CanStartGame)
{

    <button @onclick="StartGame">Start Game</button>

}

@if (state.HasGameStarted)
{
    <button @onclick="DrawCard">Draw</button>
    <button @onclick="PlayCard" disabled="@(state.SelectedCard is null)">Play</button>

    @foreach (var card in state.Hand)
    {
        <PlayingCard Card="card" OnCardSelected="HandleSelectedCard" />
    }
}