@page "/table"

@if (_hasJoinedGame)
{
    <h1>Joined Game</h1>
}

<div class="row">
    <div class="col">
        <h1>Players</h1>
        <ul class="list-group">
            @foreach (var player in _players)
            {
                <li class="list-group-item">@player</li>
            }
        </ul>
    </div>
    <div class="col">
        <h1>Draw Pile</h1>

        <div class="pcard back">
            <span>@_deckCount</span>
        </div>
    </div>
    <div class="col">
        <h1>Discard Pile</h1>
        @if (_discardCard == null)
        {
            <span>Game not started</span>
        }
        else
        {
            <PlayingCard Card="_discardCard"></PlayingCard>
        }
    </div>
</div>