@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.suit-top {
    grid-area: suit-top;
}

.middle-pips {
    grid-area: middle-pips;
    text-align: center;
}

.suit-bottom {
    grid-area: suit-bottom;
    text-align: right;
}

.pcard {
    user-select: none;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 8px;
    width: 9rem;
    height: 11.5rem;
    padding: 1rem;
    display: grid;
    column-gap: 10px;
    grid-row-gap: 20px;
    grid-template: " suit-top  .            .           " 20px " .         middle-pips  .           " auto " .         .            suit-bottom " 20px;
}

    .pcard .middle-pips {
        height: 108px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        grid-column: 1 / 4;
        align-items: center;
        width: 100%;
        padding: 0 20px;
        flex-flow: wrap;
    }

        .pcard .middle-pips .pip {
            flex: 1 1 1em;
        }
        .pip.face-card-pip {
            font-size: 3em;
        }

    .pcard.back {
        background: rgb(10,36,0);
        background: radial-gradient(circle, rgba(10,36,0,1) 0%, rgba(15,121,9,1) 35%, rgba(44,255,0,1) 100%);
    }

        .pcard.back div {
            display: none;
            visibility: hidden;
        }

.pcard.hearts,
.pcard.diamonds {
    color: red;
}